@tailwind base;
@tailwind components;
@tailwind utilities;

/* For Webkit browsers */
.scrollable-rounded::-webkit-scrollbar {
  width: 8px; /* or any appropriate width */
}

.scrollable-rounded::-webkit-scrollbar-track {
  background: #f1f1f1; /* or any color that matches your design */
  border-radius: 10px; /* this should match the border-radius of your container */
  display: none;
}

.scrollable-rounded::-webkit-scrollbar-thumb {
  background-color: darkgrey; /* this is the draggable part of the scroll */
  border-radius: 10px; /* radius of the draggable part */
}
